#search{
    background-color: #093508;
    width: 486px;
    height: 344px;
    border: 10px ;
    border-radius: 40px;
    text-align: center;
    padding: 5px;
    margin: auto;
    max-width: 500px;
    float: left;
    
}
@media (max-width: 800px){
    .search {
        flex-direction: column;
    }
}
/* search             box */

/* title */
.title{
    text-align: center;
    padding: 5px;
    font-family: 'Creepster', cursive;
    color:#56d258;
    display: flex;
    justify-content: center;
   
}
/* search h1 */
h1{
    font-family: 'Nabla', cursive;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
/* search input */
#search .search{
    background-color: #ffffff;
    padding: 10px;
}
/* search button */
#search #searchbutton{
    color: yellow;
    background-color:#160440;
}
/* instruction */
#search {
    font-family: 'Creepster', cursive;
    color: yellow;
    position: relative;
    text-align: center;
    font-size: 25px;
}


/* output             box */
#results{
    width: 486px;
    height: 344px;
    border: 10px;
    border-radius: 40px;
    background-color: #160440;
    float: right;
}