.title{
    padding: 5px;
    font-family: 'Creepster', cursive;
    color:#249068;
    display: flex;
    justify-content: center;
    text-shadow: rgb(255, 255, 255) 1px 0 1px;
   
}
body{
    background-color: rgb(0, 0, 0);
}
h2{
    color:#56d258;
    text-align: center;
    font-family: 'Creepster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Unica One', cursive;
}
.card{
    
    border-radius: 10px;
    border: 5px salmon solid;
    display: inline-table;
    border-radius: 5px;
    border: 5px rgb(255, 240, 238) solid;
    display: inline-table;
    width: 300px;
    background-color: rgb(39, 58, 36);
}

h3{
    color:gainsboro ;
    font-family: 'Creepster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
span{
    color: aqua;
    text-align: center;  
}
/* parent div of cards */
#results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
  }
  /* media qurey */
  @media screen and (max-width: 500px) {
    #results {
      background-color: rgb(72, 72, 72);
    }
  }

/* form */
  form{
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
/* prev button */
#prv{
 color: #099662; 
 background-color: rgb(22, 33, 39);
 padding: 15px;
 font-family: 'Creepster', cursive;
}
/* nxt button  */
#nxt {
  color: #099662;
  background-color: rgb(22, 33, 39);
  padding: 15px;
  font-family: 'Creepster', cursive;
  background-color: gre;
}

/* instructions */
#inst {
  justify-content: left;
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  color: bisque;
}